<div class="ui two column centered grid">
  <div class="column">
    <div class="ui segment">
      <h2 class="ui dividing header">
        <i class="download icon"></i>
        <div class="content">
          Welcome to ROSE
          <div class="sub header">Where all your dreams come true</div>
        </div>
      </h2>

      <h4>Study Configuration File</h4>
      <button class="ui basic button" {{action 'cancelWizard'}}>Cancel</button>
      <button class="ui primary button">Import</button>
    </div>
  </div>
</div>
