body {
  padding-top: 15px;
}

.checkbox-subsettings {
  float: right;
  padding-right: 20em;
}

.clickable {
  text-decoration: none;
  color: rgb(0, 159, 218);
  cursor: pointer;
}

.disabled.comment {
  opacity: .3;
  color: rgba(40,40,40,.3);
}

.diary-entry {
  padding-bottom: 15px;
}
