<div class="ui fluid vertical menu">
    <div class="header item">
        <i class="user icon"></i>
        ROSE
    </div>
    {{#link-to "diary" classNames="item"}}
        Diary
    {{/link-to}}
    {{#link-to "backup" classNames="item"}}
        Backup
    {{/link-to}}
    <a class="item">
    Settings
    </a>
    <a class="item">
        Updates
        <div class="ui label">51</div>
    </a>
    <div class="header item">
        <i class="user icon"></i>
        Networks
    </div>
    <div class="item">
        Facebook
        <div class="menu">
            <a class="item">
            Comments
            </a>
            <a class="item">
            Interactions
            </a>
            <a class="item">
            Privacy Settings
            </a>
        </div>
    </div>
    <div class="item">
        Google+
        <div class="menu">
            <a class="item">
            Comments
            </a>
            <a class="item">
            Interactions
            </a>
            <a class="item">
            Privacy Settings
            </a>
        </div>
    </div>
    <div class="header item">
        <i class="help icon"></i>
        Help
    </div>
    <a class="item">
    Documentation
    </a>
    <a class="item">
    About
    </a>
</div>
