<i class="close icon"></i>
<div class="header">
  Are u sure you want to reset all settings?
</div>
<div class="content">
  Content
</div>
<div class="actions">
  <div class="ui black button">
    Cancel
  </div>
  <div class="ui positive right labeled icon button"
       {{action 'resetRose'}}>
    Ok
    <i class="checkmark icon"></i>
  </div>
</div>
