{{#ui-modal class="reset-config" onApprove=(action 'approveModal')}}
<i class="close icon"></i>
<div class="header">
  {{t "resetConfigModal.question"}}
</div>
<div class="content">
  <p>{{t "resetConfigModal.warning"}}</p>
</div>
<div class="actions">
  <div class="ui black cancel button">
    {{t "action.cancel"}}
  </div>
  <div class="ui positive right labeled icon button">
    {{t "action.confirm"}}
    <i class="checkmark icon"></i>
  </div>
</div>
{{/ui-modal}}
