<h2 class="ui header">
	<i class="download disk icon"></i>
	<div class="content">
		Backup
		<div class="sub header">Export or backup your data and send it to the researchers. Restore data is also possible.</div>
	</div>
</h2>
<div class="fluid ui icon labeled button right">Restore<i class="black upload disk icon"></i></div>
<div class="ui horizontal divider">
	Or
</div>
<div class="fluid ui positive icon labeled right button">Backup<i class="download disk icon"></i></div>
