<h2 class="ui header">
    <i class="book icon"></i>
    <div class="content">
        Diary
        <div class="sub header">Write about things that we do not care about.</div>
    </div>
</h2>
<div class="ui form">
    <div class="field">
        <textarea placeholder="Here is some place to write down your thoughts."></textarea>
    </div>
    <div class="two fluid ui buttons">
        <div class="ui button">Cancel</div>
        <div class="or"></div>
        <div class="ui positive button">Save</div>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui comments">
    <div class="comment">
        <a class="avatar">
        <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/1185914_10151628169517197_1794321586_n.jpg">
        </a>
        <div class="content">
            <a class="author">Sergey Harutoonian</a>
            <div class="metadata">
                <div class="date">2 days ago</div>
            </div>
            <div class="text">
                I think this is a great idea and i am voting on it
            </div>
            <div class="actions">
                <a class="edit">Edit</a>
                <a class="delete">Delete</a>
            </div>
        </div>
    </div>
    <div class="comment">
        <a class="avatar">
        <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/1185914_10151628169517197_1794321586_n.jpg">
        </a>
        <div class="content">
            <a class="author">Sergey Harutoonian</a>
            <div class="metadata">
                <div class="date">2 days ago</div>
            </div>
            <div class="text">
                I think this is a great idea and i am voting on it
            </div>
            <div class="actions">
                <a class="edit">Edit</a>
                <a class="delete">Delete</a>
            </div>
        </div>
    </div>
</div>
