<h2 class="ui header">
    <i class="settings icon"></i>
    <div class="content">
        Settings
        <div class="sub header">Manage your ROSE Settings.</div>
    </div>
</h2>
<div class="ui toggle checkbox">
    <input type="checkbox" name="pet">
    <label></label>
</div>
<b>Enable</b> comment reminder.
