<div class="ui page grid">
  <div class="four wide column">
    {{render "sidebar-menu"}}
  </div>

  <div class="twelve wide column">
    <div class="ui segment">
      {{outlet}}
    </div>
  </div>
</div>
