<h2 class="ui dividing header">
  <i class="settings icon"></i>
  <div class="content">
    {{t "observerEditor.title"}}
    <div class="sub header">{{t "observerEditor.subtitle"}}</div>
  </div>
</h2>

<ul>
    {{#each model as |observer|}}
    <li>
        {{#link-to 'observer' observer}}
            {{observer.name}}
        {{/link-to}}
    </li>
    {{/each}}
</ul>