<h2 class="ui dividing header">
  <i class="settings icon"></i>
  <div class="content">
    {{t "privacySettings.title"}}
    <div class="sub header">{{t "privacySettings.subtitle"}}</div>
  </div>
</h2>
